/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.gallery {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-top: 24px;
}

.gallery-link:hover {
  cursor: url(../img/cursor.png), pointer;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

